.dropdown {
  position: relative;
  display: flex;
  margin: 0 auto;
  margin-bottom: 50px;
}
.dropbtn {
  background-color: #a5a7a5;
  color: rgb(48, 47, 47);
  padding: 16px;
  font-size: 20px;
  font-family: sans-serif;
  border: none;
  width: 1100px;
  height: 70px;
  cursor: pointer;
  align-items: center;
  margin: 0 auto;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 70px;
  left: 113px;
  background-color: #f1f1f1;
  min-width: 1100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  display: inline-block;
  color: rgb(48, 47, 47);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-top: 2px solid white;
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #c1c4c1;
}
/* ========================================================== */
.card {
  display: flex;
  width: 1100px;
  height: 300px;
  margin: 0 auto;
  background-color: rgb(171, 173, 173);
  align-items: center;
  margin-bottom: 30px;
  position: relative;
}
.foto img {
  padding: 0 26px;
  width: 485px;
}

.card-right h4 {
  font-size: 36px;
  font-family: sans-serif;
  padding-bottom: 30px;
}
hr {
  height: 3px;
  color: aliceblue;
}
.card-right p2 {
  display: block;
  font-size: 18px;
  font-family: sans-serif;
  background-color: #c1c4c1;
  padding: 10px 26px;
  text-align: center;
  margin-top: 10px;
  width: 450px;
}
.star img {
  position: absolute;
  top: 10px;
  right: 10px;
}
.back {
  display: flex;
  border-radius: 30px;
  margin-left: 30px;
}
.back a {
  font-size: 20px;
  font-family: sans-serif;
  background-color: yellow;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 30px;
}
/* ==============bron-karpatu================= */
.bron-karpatu h2 {
  font-size: 30px;
}
.container-karpatu {
  display: flex;
  width: 1100px;
  margin: 0 auto;
  margin-top: 30px;
  background-color: rgb(185, 187, 187);
}
.left-foto img {
  width: 490px;
}
.right-foto img {
  width: 290px;
  height: 185px;
}
.right-foto1 {
  display: block;
}
.right-foto1 img {
  padding-left: 10px;
}
.right-foto p {
  font-size: 20px;
  font-family: sans-serif;
  padding: 40px 40px 100px 40px;
}
